# Ignore everything
*

# But keep these two types of files
!*.py
!*.ipynb

# keep tracking these two
!Optim_fMRI_new/
!Optim_fMRI_new/**
!Optim_fMRI_old/
!Optim_fMRI_old/**


# Also keep the .gitignore file itself
!.gitignore